body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding-top: 15px;
    text-transform: uppercase;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}

.card {
    background: #1B1C1C;
}

.main {
    font-size: 23px;
    color: #BAD8FC;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
}

.maindata
{
    margin: -40px 0px 0px 0px;
}

.adds {
    font-size: 11px;
    color: #BAD8FC;
    text-align: left;
    font-weight: 800;
}

.addsone {
    padding: 0px 0px 0px 15px;
}

.addsfour{
    padding: 0px 0px 0px 18px;
}

.feelstemprature {
    color: #B38495;
   
}
.addstwo {
    margin: 0px 0px 0px 20px;
}

.secondary {
    padding: 120px 0px 0px 0px;
}

.cityname {
    font-size: 35px;
    color: #BAD8FC;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.currentweather {
    font-style: italic;
    color: #113652;
    background: #FCFCD4;
}

.currenttemprature{
    color: #EBB9CB;
    margin: 0px 0px 0px 0px;
}

.feelstemprature {
    color: #B38495;
}

.bigicon {
    font-size: 60px;
    color: #FCFCD4;
    text-align: center;
    margin: 30px 0px 30px 0px;
    
}

.additionalinformation {
    font-size: 11px;
    color: #BAD8FC;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin: 150px 0px 0px 12px;
    text-align: left;
}

.temperaturechoose {
    color: #EBB9CB;
    background-color: #FCFCD4;
    border-color: #FCFCD4;
    font-weight: 900;
    width: 30px;
    box-shadow: 2px 2px 1px #aaaaaa;
    margin: 10px -220px 10px 220px;
    border-radius: 4px;
    font-size: 12px;
}
 
.temperaturechoose:hover {
    color: #FCFCD4;
    background-color: #EBB9CB;
    border-color: #FCFCD4;
    font-weight: 900;
    transition-timing-function: ease-in-out;
    box-shadow: 4px 4px 3px #aaaaaa;

}

.results{
    color: #EBB9CB;
}

.form-control{
    text-transform: uppercase;
    font-size: 13px;
}


hr {
   display: block;
   background-color: #FCFCD4; 
   height: 40px; 
   margin-left: auto;
   margin-right: auto;
}

.nextdays{
    margin-left: -10px;
}

.smallweathercard{
    background: #1B1C1C;
    border-color: #1B1C1C;
}

.smallday {
    color: #BAD8FC;
    font-size: 13px;
    text-align: center;
    padding: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.smallweather {
    color: #00C6B6;
    font-size: 13px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: italic;
    color: #113652;
    background: #FCFCD4;
}

.smallicon{
    font-size: 40px;
    color: #FCFCD4;
    text-align: center;
    padding: 15px 0 0 15px;
}

.smalltemp {
    color: #EBB9CB;
    font-size: 13px;
    text-align: center;
    padding: 15px 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}


.smalltemp .warmest{
    color: #EBB9CB;
    font-weight: 600;
    font-size: 12px;
}

.smalltemp .coldest{
    color: #BAD8FC;
    font-weight: 600;
    font-size: 12px;
}


.btn-light {
    color: #EBB9CB;
    background-color: #FCFCD4;
    border-color: #FCFCD4;
    font-weight: 900;
    width: 115px;
    box-shadow: 5px 5px 2px #aaaaaa;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-light:hover 
{
    color: #FCFCD4;
    background-color: #EBB9CB;
    border-color: #FCFCD4;
    font-weight: 900;
    transition-timing-function: ease-in-out;
    box-shadow: 10px 10px 5px #aaaaaa;
    font-size: 13px;
    text-transform: uppercase;
    
}

.btn-success {
    color: #EBB9CB;
    background-color: #FCFCD4;
    border-color: #FCFCD4;
    font-weight: 900;
    width: 115px;
    box-shadow: 5px 5px 2px #aaaaaa;
    text-transform: uppercase;
    font-size: 13px;
}

.btn-success:hover 
{
    color: #FCFCD4;
    background-color: #EBB9CB;
    border-color: #FCFCD4;
    font-weight: 900;
    transition-timing-function: ease-in-out;
    box-shadow: 10px 10px 5px #aaaaaa;
    
}

.advice {
    color: #EBB9CB;
    text-align: left;
    font-weight: 800;
    font-size: small;
}

.codedby {
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    margin-right : 375px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.codedbyref {
    font-weight: 500;
    font-size: 10px;
    color: #EBB9CB;
}